includes:
	- phpstan-baseline.neon
	- .build/vendor/phpstan/phpstan/conf/bleedingEdge.neon
parameters:
	level: max
	paths:
		- Classes
		- Configuration
		- Tests
	bootstrapFiles:
		- Tests/Build/phpstan-bootstrap.php
	symfony:
		consoleApplicationLoader: Tests/Build/console-application.php
