<html xmlns:s="http://typo3.org/ns/EliasHaeussler/Typo3Solver/ViewHelpers"
      data-namespace-typo3-fluid="true">

<form class="solution {f:if(condition: solution.choices.0.finishReason, then: 'solution-provided')}"
      data-exception-id="{exceptionCacheIdentifier}"
      data-stream-hash="{streamHash}"
>
    <f:render partial="Solution/Head" arguments="{solution: solution}" />

    <div class="solution-container">
        <f:render partial="Solution/List" arguments="{solution: solution}" />
    </div>

    <f:render partial="Solution/Prompt" arguments="{solution: solution}" />
    <f:render partial="Solution/Loader" />
</form>

</html>
