.solution {
    background-color: #fff;
    margin-bottom: 2rem;
    box-shadow: 0 2px 1px rgb(0 0 0 / 15%);
    position: relative;
}

/*
 * -- List ----------------------------------------------------------
 */

.solution-list {
    padding: 0;
    margin: 0;
}

.solution-list-item {
    position: relative;
    list-style: none;
}

/*
 * -- Controls ------------------------------------------------------
 */

.solution-selector ~ .solution-body {
    position: absolute;
    left: 1000%;
    opacity: 0;
}

.solution-selector:checked ~ .solution-body {
    position: initial;
    left: 0;
    opacity: 1;
    transition: opacity 0.5s;
}

.solution-selector:checked ~ .solution-arrow {
    display: block;
}

.solution-arrow {
    display: none;
    position: absolute;
    background-color: #10a37f;
    width: 2rem;
    height: 2rem;
    top: 8rem;
    color: #fff;
    cursor: pointer;
    font-size: 1.2em;
    text-align: center;
    line-height: 2rem;
}

.solution-arrow:hover,
.solution-arrow:focus {
    background-color: #8c8c8c;
}

.solution-streaming .solution-arrow {
    display: none !important;
}

.solution-arrow-prev {
    left: -2rem;
}

.solution-arrow-next {
    right: -2rem;
}

/*
 * -- Head ----------------------------------------------------------
 */

.solution-head {
    color: #10a37f;
    background-color: #e6f3f3;
    padding: 1.5rem;
}

.solution-head-container {
    display: flex;
}

.solution-headline {
    flex-grow: 1;
}

.solution-head h3 {
    margin: 0;
}

.solution-meta {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
    display: flex;
    gap: 0.5em;
}

.solution-meta li {
    display: flex;
    align-items: center;
    gap: 0.25em;
}

.solution-meta .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    clip-path: inset(50%);
    border: 0;
}

.solution-meta svg {
    height: 1em;
    width: 1em;
    fill: currentColor;
    opacity: 0.5;
}

.solution-meta code {
    font-size: 0.9em;
    line-height: 0.9em;
}

.solution-icon > svg {
    width: 2rem;
    height: 2rem;
    fill: currentColor;
}

/*
 * -- Body ----------------------------------------------------------
 */

.solution-body {
    padding: 1.5rem;
}

.solution-body > *:first-child {
    margin-top: 0;
}

.solution-body > *:last-child {
    margin-bottom: 0;
}

.solution-body pre {
    padding: 0.25rem 0.5rem;
}

.solution-body *:not(pre) > code {
    padding: 0.125rem 0.25rem;
    border: 1px solid rgba(0, 0, 0, 0.125);
}

.solution-body li > p {
    margin: 0;
}

/*
 * -- Prompt --------------------------------------------------------
 */

.solution-prompt {
    padding: 1rem 1.5rem;
    font-size: 0.8em;
    border-top: 1px solid #b9b9b9;
}

.solution-prompt summary {
    cursor: pointer;
}

.solution-prompt pre {
    padding: 1rem;
    margin-bottom: 0.5rem;
}

/*
 * -- Loader --------------------------------------------------------
 */

.solution-loading {
    display: none;
}

.solution-streaming .solution-loading {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.125);
}

.solution-loading-container {
    position: absolute;
    display: flex;
    bottom: 2rem;
    right: 2rem;
    background-color: #10a37f;
    color: #fff;
    border-radius: 0.25rem;
    box-shadow: 0 2px 1px rgb(0 0 0 / 15%);
    font-size: 1rem;
    padding: 0.5rem 1rem;
    gap: 0.5rem;
}

.solution-loading-spinner {
    animation: 2s linear infinite spinner;
    width: 1rem;
    fill: currentColor;
}

/*
 * -- Keyframes -----------------------------------------------------
 */

@keyframes spinner {
    100% {
        transform: rotate(360deg);
    }
}
